<div class="container">
  <h1>Students</h1>
  <div class="list_holder">
    <h2>Enrolled Students</h2>

    <ol>
      <% @students.each do |student| %>
        <li><%= student.display_last_name_first_name %></li>
      <% end %>
    </ol>
  </div>
</div>
